# Node.js & Vite
node_modules
dist
dist-ssr
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Logs
.idea
.vscode
*.log
.DS_Store
.env
*.db
*.sqlite
*.sqlite3
